<div class="container">      
  <div class="row">   
    <h2 class="text-center" style="margin-top:15px;" >Beneficiary Stories</h2>    
    <div class="col-md-6">
      <h2 class="text-center" style="margin-bottom:25px;">Add Beneficiary Stories</h2>
   
      <div class="row">
        <div class="col-md-6">
          <input type="image" 
          src="" alt="Add Image" width="48" height="48">       

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" placeholder="Title" required class="form-control">         

          </div>
         </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="content">Content</label>
            <textarea name="" id="content" cols="10" rows="3" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button class="add-edit-btn form-control">Add</button>

        </div>
        
      </div>
    </div>
    
      <!-- </div> -->

    <!-- Edit form -->
    <!-- <div class="row"> -->
    <div class="col-md-6">
      <h2 class="text-center" style="margin-bottom:25px;">Edit Beneficiary Stories</h2>
   
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="image" 
          src="" alt="Add Image" width="48" height="48" class="form-control">    

          </div>
             

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" placeholder="Title" required class="form-control">         

          </div>
         </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="content">Content</label>
            <textarea name="" id="content" cols="10" rows="3" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button class="add-edit-btn form-control">Edit</button>

        </div>
        
      </div>
    </div>
    
  </div>
  <hr>


  <!-- Add beneficiary -->
  <div class="row">
    <h2 class="text-center">Beneficiary Details</h2>
    <div class="col-md-6">
      <h2 class="text-center">Add Beneficiary</h2>
      <div class="form-group">
        <label for="full-name">Full Name</label>
        <input type="text" placeholder="Full name" required class="form-control">
        <button class="form-control add-edit-btn">Add</button>
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="text-center">Edit Beneficiary</h2>
      <div class="form-group">
        <label for="full-name">Full Name</label>
        <input type="text" placeholder="Full name" required class="form-control">
        <button class="form-control add-edit-btn">Edit</button>
      </div>
    </div>
  </div>
</div>