.banner{
  background-image: url('/assets/images/contact-banner.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 300px

}
.charity-heading{
  padding-top:150px;
  padding-left: 30px;
  color: white;
}
.more-details-btn{
  float:left;
  background-color: #59BBA4;
  color: black;
  border:none;
  border-radius: 5px;
}

.charities-section {
    margin-top: 20px;

}

.donate-btn{
  float:right;
  background-color: #59BBA4;
  color: black;
  border:none;
  border-radius: 5px;


}
