<div class="banner">
  <h1 class="charity-heading"><span class="mission"> Our mission: Lorem ipsum dolor sit amet</span> <br>
    Our Charities</h1>
</div>
<div class="container"> 
  <div class="charities-section">
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="margin-bottom: 30px; border-radius: 3px;">
          <img src="/assets/images/happychildren.jpg" class="card-img-top" style="border-radius: 3px 3px 0px 0px;" alt="Charity Image">
          <div class="card-body">
            <h5 class="card-title"> Girl Child KE</h5>
            <button class="more-details-btn" data-toggle="modal" data-target="#moreDetails" >More Details</button>
           <button class="donate-btn"> <a href="donate">Donate</a></button>


          </div>

        </div>

      </div>
      <div class="col-md-3">
        <div class="card" style="margin-bottom: 30px; border-radius: 3px;">
          <img src="/assets/images/happychildren.jpg" class="card-img-top" style="border-radius: 3px 3px 0px 0px;" alt="Charity Image">
          <div class="card-body">
            <h5 class="card-title"> Girl Child KE</h5>
            <button class="more-details-btn" data-toggle="modal" data-target="#moreDetails" ><a href="contact">Contact</a></button>
            <button class="donate-btn">Donate</button>


          </div>

        </div>

      </div>
      <div class="col-md-3">
        <div class="card" style="margin-bottom: 30px; border-radius: 3px;">
          <img src="/assets/images/happychildren.jpg" class="card-img-top" style="border-radius: 3px 3px 0px 0px;" alt="Charity Image">
          <div class="card-body">
            <h5 class="card-title"> Girl Child KE</h5>
            <button class="more-details-btn" data-toggle="modal" data-target="#moreDetails" >More Details</button>
            <button class="donate-btn">Donate</button>


          </div>

        </div>

      </div>
      <div class="col-md-3">
        <div class="card" style="margin-bottom: 30px; border-radius: 3px;">
          <img src="/assets/images/happychildren.jpg" class="card-img-top" style="border-radius: 3px 3px 0px 0px;" alt="Charity Image">
          <div class="card-body">
            <h5 class="card-title"> Girl Child KE</h5>
            <button class="more-details-btn" data-toggle="modal" data-target="#moreDetails" >More Details</button>
            <button class="donate-btn">Donate</button>


          </div>

        </div>

      </div>           
      
    </div>

    
  </div>
  <div class="modal fade " id="moreDetails" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                 <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                  <div class="modal-content popup">
                    <div class="modal-header">
                      <h5 class="modal-title" id="">Girl Child KE</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <img src="/assets/images/happychildren.jpg" class="card-img-top" style="border-radius: 3px 3px 0px 0px;" alt="Charity Image">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                       aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                      Excepteur sint occaecat cupidatat non proident, sunt 
                      in culpa qui officia deserunt mollit anim id est laborum.</p>
          

                  </div>
                  <div class="modal-footer">
                    <button class="donate-btn" >Donate</button>
                  </div>
                  </div>
                 </div>

  </div>
  


</div>