.banner{
  /* background-image: url('https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2hhcml0eXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60'); */
  background-image: url('/assets/images/contact-banner.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px

}
.charity-heading{
  padding-top:250px;
  padding-left: 30px;
  color: white;
}
.more-details-btn{
  color: #59BBA4;
}

  .charities-section {
    margin-top: 20px;

  }