<!-- <section class="team-area team-inner2-area">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
          
          <div class="team-item">
            <div class="thumb">
              <div>
                
                <img src="https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80" width="160" height="160" alt="">
              </div>
            </div>
            <div class="content">
              <h4 class="title"><a href="{%url 'candidate' candidate.owner.owner.username%}">John Doe</a></h4>
              <h5 class="sub-title">Donation</h5>
              <div class="rating-box">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
              </div>
              <a class="btn-theme btn-white btn-sm" href="">View Profile</a>
            </div>
            <div class="bookmark-icon"><img src="{%static 'assets/img/icons/bookmark1.png' %}" alt="Image-HasTech">
            </div>
            <div class="bookmark-icon-hover"><img src="{%static 'assets/img/icons/bookmark2.png' %}"
                alt="Image-HasTech"></div>
          </div>
         
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="pagination-area">
            <nav>
              <ul class="page-numbers d-inline-flex">
                <li>
                  <a class="page-number active" href="">1</a>
                </li>
                <li>
                  <a class="page-number" href="">2</a>
                </li>
                <li>
                  <a class="page-number" href="">3</a>
                </li>
                <li>
                  <a class="page-number next" href="">
                    <i class="icofont-long-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section> -->

<!-- <section>

    <div class="container-fluid" style="padding-bottom: 13vh; margin-top: 5vh;">
        <h2 class="text-center fs-3 logo fw-bold mb-5">New Charity Applicants</h2>
        <div class="charities-section">
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="margin-bottom: 30px; border-radius: 3px;">
                        <img src="https://images.unsplash.com/photo-1509099927777-1b8a87bc3b21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80"
                            class="card-img-top" style="border-radius: 3px 3px 0px 0px;" alt="Charity Image">
                        <div class="card-body">
                            <h5 class="card-title mb-3"> Feed a Girl</h5>
                            <button type="button" class="btn btn" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" style="background-color: #51b4b4;">
                                More Details
                            </button>


                        </div>

                    </div>

                </div>
                <div class="col-md-3">
                    <div class="card" style="margin-bottom: 30px; border-radius: 3px;">
                        <img src="https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80"
                            class="card-img-top" style="border-radius: 3px 3px 0px 0px;" alt="Charity Image">
                        <div class="card-body">
                            <h5 class="card-title mb-3"> Girl Child KE</h5>
                            <button type="button" class="btn btn" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" style="background-color: #51b4b4;">
                                More Details
                            </button>
                        </div>

                    </div>

                </div>


            </div>


        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Girl Child KE</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80"
                            class="card-img-top mb-3" style="border-radius: 3px 3px 0px 0px;" alt="Charity Image">
                        <p><strong>Description:</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea
                            commodo consequat.</p>
                        <p><strong>Tel:</strong> 123456789</p>
                        <p><strong>Email:</strong> girlchild@gmail.com</p>
                        <p><strong>Target Amount:</strong> 100,000 Dollars</p>
                        <p><strong>Charity Type:</strong> Food Relief</p>
                        <p><strong>Duration:</strong> 60 Days</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn" style="background-color: #51b4b4;">Accept</button>
                        <button type="button" class="btn btn" style="background-color: #ed5e46;">Decline</button>
                    </div>
                </div>
            </div>
        </div>





    </div>
</section> -->


<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
            role="tab" aria-controls="home" aria-selected="true"><strong>Charities</strong></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="false"><strong>Profiles</strong></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
            role="tab" aria-controls="contact" aria-selected="false"><strong>Feedback</strong></button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <section>

            <div class="container-fluid" style="padding-bottom: 13vh; margin-top: 5vh;">
                <h2 class="text-center fs-3 logo fw-bold mb-5">New Charity Applicants</h2>
                <div class="charities-section">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card" style="margin-bottom: 30px; border-radius: 3px;">
                                <img src="https://images.unsplash.com/photo-1509099927777-1b8a87bc3b21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80"
                                    class="card-img-top" style="border-radius: 3px 3px 0px 0px;" alt="Charity Image">
                                <div class="card-body">
                                    <h5 class="card-title mb-3"> Feed a Girl</h5>
                                    <button type="button" class="btn btn" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" style="background-color: #51b4b4;">
                                        More Details
                                    </button>


                                </div>

                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="card" style="margin-bottom: 30px; border-radius: 3px;">
                                <img src="https://images.unsplash.com/photo-1509099927777-1b8a87bc3b21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80"
                                    class="card-img-top" style="border-radius: 3px 3px 0px 0px;" alt="Charity Image">
                                <div class="card-body">
                                    <h5 class="card-title mb-3"> Girl Child KE</h5>
                                    <button type="button" class="btn btn" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" style="background-color: #51b4b4;">
                                        More Details
                                    </button>
                                </div>

                            </div>

                        </div>


                    </div>


                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Girl Child KE</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80"
                                    class="card-img-top mb-3" style="border-radius: 3px 3px 0px 0px;"
                                    alt="Charity Image">
                                <p><strong>Description:</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip
                                    ex ea
                                    commodo consequat.</p>
                                <p><strong>Tel:</strong> 123456789</p>
                                <p><strong>Email:</strong> girlchild@gmail.com</p>
                                <p><strong>Target Amount:</strong> 100,000 Dollars</p>
                                <p><strong>Charity Type:</strong> Food Relief</p>
                                <p><strong>Duration:</strong> 60 Days</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn" style="background-color: #51b4b4;">Accept</button>
                                <button type="button" class="btn btn"
                                    style="background-color: #ed5e46;">Decline</button>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </section>

    </div>
    <div class="tab-pane fade" style="padding-bottom: 13vh; margin-top: 3vh;" id="profile" role="tabpanel"
        aria-labelledby="profile-tab">
        <h5 class="text-center fs-3 logo fw-bold mb-3">Users</h5>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date Created</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Collo</td>
                    <td>Collo</td>
                    <td>Collo</td>
                    <td>fe@mail.com</td>
                    <td>07/07/2022</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jeff</td>
                    <td>Jeff</td>
                    <td>Jeff</td>
                    <td>girlchild@mail.com</td>
                    <td>07/07/2022</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Bel</td>
                    <td>Bel</td>
                    <td>Bel</td>
                    <td>chtoday@mail.com</td>
                    <td>07/07/2022</td>
                </tr>
            </tbody>
        </table>
        <h5 class="text-center fs-3 logo fw-bold mb-3 mt-5">Charities</h5>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Country</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Delete Charity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Feed a girl</td>
                    <td>Nakuru</td>
                    <td>Kenya</td>
                    <td>fe@mail.com</td>
                    <td>07/07/2022</td>
                    <td><button type="button" class="btn btn"
                        style="background-color: #ed5e46;">Delete</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Girl Child KE</td>
                    <td>Garissa</td>
                    <td>Kenya</td>
                    <td>girlchild@mail.com</td>
                    <td>07/07/2022</td>
                    <td><button type="button" class="btn btn"
                        style="background-color: #ed5e46;">Delete</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Changa Today</td>
                    <td>Kajiado</td>
                    <td>Kenya</td>
                    <td>chtoday@mail.com</td>
                    <td>07/07/2022</td>
                    <td><button type="button" class="btn btn"
                        style="background-color: #ed5e46;">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <h5 class="text-center fs-3 logo fw-bold mb-3 mt-5">Donors</h5>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date Created</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Ndolo</td>
                    <td>Ndolo</td>
                    <td>Ndolo</td>
                    <td>fe@mail.com</td>
                    <td>07/07/2022</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Rachel</td>
                    <td>Rachel</td>
                    <td>Rachel</td>
                    <td>girlchild@mail.com</td>
                    <td>07/07/2022</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <h5 class="text-center fs-3 logo fw-bold mb-3 mt-5">Feedback</h5>
        <hr>
        <div class="row mt-4">
            <div class="card-feed" style="width: 18rem; margin-left: 5vh;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-bold"><strong>Name:</strong> John Doe</h6><br>
                    <h6 class="card-subtitle mb-2 text-bold"><strong>Email:</strong> John@mail.com</h6><hr>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>

            <div class="card-feed" style="width: 18rem; margin-left: 5vh;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-bold"><strong>Name:</strong> Jane Doe</h6><br>
                    <h6 class="card-subtitle mb-2 text-bold"><strong>Email:</strong> Janw@mail.com</h6><hr>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
        </div>
    </div>
</div>