<!-- <div id="myPaypalButtons" class="mt-5" style="width: 100px;"></div>
<section>
    <div class="center mb-5" style="margin-bottom: 20vh;">
        <h3 class="donate mb-5">
            <div class="w3-card-4">

                

                
                <header class="w3-container w3-green">
                    <p></p>
                </header>
            </div>
        </h3>
    </div>
</section> -->
<section style="margin-bottom: 20vh; margin-top: 5vh;">
    <header class="w3-container">
        <!-- <h1 class="text-center" style="color: #efc94c">Make Donation</h1> -->
    </header>
    <h3 class="text-center" >Donate for a Great Cause.</h3>
    <div class="center">
        
        <div id="myPaypalButtons" class="paypal mt-5"></div>
    </div>

</section>

