<div class="container">
  <div class="row">
      
        <div class="col-md-5">
          <h4 class="text-center" style="margin-bottom:20px; margin-top: 20px;">Add more details about charity</h4>
          <form action="">
            <div class="row">
              <div class="col-md-6" style="margin-top:70px ;">
                <div class="form-group">
                  <input type="file" required id="image">

                </div>

              </div>
            <div class="col-md-6">
              <div class="row">                
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="charity-name">Charity Name</label>
                    <input type="text" placeholder="Charity Name" id="charity-name" required class="form-control">
                  </div>                 
                </div>
              </div>
              <div class="row">                
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="date-created">Date Created</label>
                    <input type="date" class="form-control" id="date-created" required placeholder="Date Created">   

                  </div>                 
                </div>
              </div>
            </div>
              
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="Amount">Amount </label>
                <input type="number" id="amount" class="form-control" placeholder="Amount To be Raised">

              </div>
              <div class="col-md-6">
                <label for="deadline">Deadline</label>
                <input type="date" id="deadline" class="form-control" required>

              </div>
              <div class="col-md-12" style="margin-top: 35px;">
                <label for="about">Charity Description</label>
                <textarea name="about-charity" id="about-charity" cols="10" rows="5" class="form-control"></textarea>
              </div>
              <div class="col-md-12">
                <button class="add-edit-btn form-control">Add</button>
              </div>
            </div>          
          </form>
        </div>  
        <div class="col-md-2"></div>      
      

      <!-- Edit form -->

      
        <div class="col-md-5">
          <h4 class="text-center" style="margin-bottom:20px; margin-top: 20px;">Edit Charity Details</h4>
          <form action="">
            <div class="row">
              <div class="col-md-6" style="margin-top:70px ;">
                <div class="form-group">
                  <input type="file" required id="image">

                </div>

              </div>
            <div class="col-md-6">
              <div class="row">                
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="charity-name">Charity Name</label>
                    <input type="text" placeholder="Charity Name" id="charity-name" required class="form-control">
                  </div>                 
                </div>
              </div>
              <div class="row">                
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="date-created">Date Created</label>
                    <input type="date" class="form-control" id="date-created" required placeholder="Date Created">   

                  </div>                 
                </div>
              </div>
            </div>
              
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="Amount">Amount </label>
                <input type="number" id="amount" class="form-control" placeholder="Amount To be Raised">

              </div>
              <div class="col-md-6">
                <label for="deadline">Deadline</label>
                <input type="date" id="deadline" class="form-control" required>

              </div>
              <div class="col-md-12" style="margin-top: 35px;">
                <label for="about">Charity Description</label>
                <textarea name="about-charity" id="about-charity" cols="10" rows="5" class="form-control"></textarea>
              </div>
              <div class="col-md-12">
                <button class="add-edit-btn form-control">Edit</button>
              </div>
            </div>

            

          </form>

        </div>
        
      
  </div>
  


</div>
