<div class="container bg-white newhood w-75" style="margin-top: 30px; padding-bottom: 10vh;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h4 class="text-center" style="color:#efc94c">Register an Online Fundraiser</h4 >
            <p>As the manager of this <strong>Charity</strong>, please enter YOUR details below:</p>
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Charity Name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput">
                  </div>
                  <div class="row">
                    <div class="col-md-5 mb-3">
                      <label for="formGroupExampleInput2" class="form-label">Phone Number</label>
                      <input type="number" class="form-control" id="formGroupExampleInput2">
                    </div>
                    <div class="col-md-5 mb-3">
                      <label for="formGroupExampleInput2" class="form-label">Email</label>
                      <input type="text" class="form-control" id="formGroupExampleInput2">
                    </div>
                </div>
                  <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">Add charity image</button>
                    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Target Amount</label>
                    <input type="number" class="form-control" id="formGroupExampleInput2">
                  </div>
                  <div class="col-mb-3">
                    <label for="inputState" class="form-label">Type of Charity</label>
                    <select id="inputState" class="col-sm-10 form-select">
                      <option selected>Select Charity Type</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col-mb-3 mt-3">
                    <label for="inputState" class="form-label">Duration</label>
                    <select id="inputState" class="col-sm-10 form-select">
                      <option selected>Select Charity Duration</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="form-floating mt-4 mb-3">
                    
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label>Description</label>
                  </div>
                  
                <!-- <button class="btn btn-sm btn-dark">Start</button> -->
                <button type="submit" class="btn btn-lg btn-block" style="background-color: #51b4b4;" type="button">Start</button>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
      
      <div class="col-md-12">
        <h4 class="text-center" style="color:#efc94c; margin-bottom:20px; margin-top: 20px;">Register an Online Fundraiser</h4 >
          <p class="text-center">As the manager of this <strong>Charity</strong>, please enter YOUR details below:</p>
        <form action="">
          <div class="row">
            <div class="col-md-6" style="margin-top:40px ;"> 
              
              <div class="form-group">
                <input type="file" required id="image" placeholder="Add image">

              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="charity-name">Charity Name</label>
                <input type="text" placeholder="Charity Name" id="charity-name" required class="form-control">
              </div>                 
            </div>             
                     
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">              
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" placeholder="Email">
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">              
                <label for="date-created">Date Created</label>
                <input type="date" id="date-created" class="form-control" required>
            </div>
            </div>
            
            <div class="col-md-6">
              <div class="form-group">              
                <label for="phone-number">Phone Number </label>
                <input type="number" id="phone-number" class="form-control" placeholder="Phone Number">
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">              
                <label for="deadline">Deadline</label>
                <input type="date" id="deadline" class="form-control" required>
            </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">               
                <label for="Amount">Target Amount</label>
                <input type="number" id="amount" class="form-control" placeholder="Amount To be Raised">
              </div>

            </div>
            <div class="col-md-12">
              <!-- style="margin-top: 35px;" -->
              <label for="about">Charity Description</label>
              <textarea name="about-charity" id="about-charity" cols="10" rows="5" class="form-control"></textarea>
            </div>
            <div class="col-md-12">
              <button class="add-edit-btn form-control">Add</button>
            </div>
          </div>          
        </form>
      </div>  
      <div class="col-md-2"></div> 
    </div>

</div>