<section>
  <div class="container">
    <h1 class="text-center">Trending Charities</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="../../../assets/imagez/pexels-aissa-bouabellou-2406271.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Building Of New Classrooms</h5>
            <p class="card-text">Building of more classrooms to accommodate more students hence facilitating easy learn to every child.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/imagez/pexels-lagos-food-bank-initiative-9090750 (1).jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Food Distribution</h5>
            <p class="card-text">Provision of food to school going children thus enabling them to have energy to study and learn.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/imagez/pexels-louis-de-gonzague-kubwimana-10858387.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Books Donations</h5>
            <p class="card-text">Provision of writing and reading materials to ease learning.Childrens now can read and write easily.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/imagez/pexels-rodnae-productions-6646853.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Medicinal Supplies</h5>
            <p class="card-text">Distribution of medical supplies to curb the outbreaks of diseases such as malaria and chickenpox that affects infants.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
