<div class="container">
  <div class="banner">
    <h1 class="contact-heading">Contact Us</h1>
   

  </div>

    <div class="contact-info">
      <h2 class="text-center contact-page-heading">Contact Info</h2>
      <div class="row">
        <div class="col-md-2"></div>
      <div class="col-md-2" style="background-color: #ED5E46;" id="contact-section">
        <img src="" alt="">
        <h5>Email Address</h5>
        <p>info@fundflow.com</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2" style="background-color: #59BBA4;" id="contact-section">
        <img src="" alt="">
        <h5>Phone Number</h5>
        <p>020-345678 <br>
          020-097865</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2" style="background-color: #EFC94C;" id="contact-section">
        <img src="" alt="">
        <h5>Our Location <br>
        Visit our offices</h5>
        <p>61/A City Hall, <br>
          Nairobi, KE</p>
      </div>

      <div class="col-md-2"></div>


      </div>
      
    </div>

</div>
<app-contact-form></app-contact-form>
