<div class="banner"> 
  <h1 class="contact-heading"> <span style="font-size:20px; background-color: #ED5E46;">Our mission: Lorem ipsum dolor sit amet</span> <br>
     Contact Us</h1>
</div>
<div class="container">
  
    <div class="contact-info">
      <h2 class="text-center contact-page-heading">Contact Info</h2>
      <div class="col-container">
        <div class="row">


          <div class="col-md-4" id="contact-section">
            <div class="card" style="margin-bottom: 30px; border-radius: 3px; background-color: #ED5E46;">
            
              <div class="card-body">
                <h6><img src="/assets/images/email.png" alt="" height="50" width="50">
                  Email Address</h6>
                <p>info@fundflow.com</p>
    
    
              </div>
    
            </div>
    
          </div>

          <div class="col-md-4" id="contact-section">
            <div class="card" style="margin-bottom: 30px; border-radius: 3px; background-color: #59BBA4;">
            
              <div class="card-body">
                <h6><img src="/assets/images/telephone.png" alt="" height="50" width="50">
                  Phone Number</h6>
                  <p>020-345678 <br>
                    020-097865</p>
    
    
              </div>
    
            </div>
    
          </div>

          <div class="col-md-4" id="contact-section">
            <div class="card" style="margin-bottom: 30px; border-radius: 3px; background-color: #EFC94C">
            
              <div class="card-body">
                <h6 style="margin-top:15px ;"><img src="/assets/images/location.png" alt="" height="50" width="50">      
                  Visit our offices</h6>
                  <p>61/A City Hall, <br>
                    Nairobi, KE</p>
    
    
              </div>
    
            </div>
    
          </div>
        </div> 
      </div>

    </div>

</div>
<app-contact-form></app-contact-form>
