.banner{
  background-image: url(/donation/src/assets/images/contact-banner.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;

}
.contact-heading {
  color: #59BBA4 ;
}