<div class="container">
  <div class="banner">
    <h1 class="contact-heading">Contact Us</h1>
   

  </div>

    <div class="contact-info">
      <h2 class="text-center contact-page-heading">Contact Info</h2>
      <div class="row">
        <div class="col-md-2"></div>
      <div class="col-md-2" style="background-color: #ED5E46;" id="contact-section">
        <h6><img src="/assets/images/email.png" alt="" height="50" width="50">
          Email Address</h6>
        <p>info@fundflow.com</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2" style="background-color: #59BBA4;" id="contact-section">
                
        <h6><img src="/assets/images/telephone.png" alt="" height="50" width="50">
        Phone Number</h6>
        <p>020-345678 <br>
          020-097865</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2" style="background-color: #EFC94C;" id="contact-section">       
        
        <h6 style="margin-top:15px ;"><img src="/assets/images/location.png" alt="" height="50" width="50">      
        Visit our offices</h6>
        <p>61/A City Hall, <br>
          Nairobi, KE</p>
      </div>

      <div class="col-md-2"></div>


      </div>
      
    </div>

</div>
<app-contact-form></app-contact-form>
