<div>

<h1 class="text-center">{{details.charity_name }}</h1>
<!-- Home tab -->
<div class="container" style="background-color: #eff6ee ;">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Home">

      <div class="row">
        <app-beneficiary-form></app-beneficiary-form>
      </div>
    </mat-tab>
    <mat-tab label="Beneficiaries">
      <div class="row" style="margin-top:20px ; margin-bottom:40px ;"> 
        <div class="col-md-2"></div>     
        <div class="col-md-8">
          <h2 class="text-center">Beneficiaries</h2>
          <table>
            <tr>
              <th>Beneficiary</th>
              <th>Donation Received</th>
              <th>Location</th>
              <th>Country</th>
              <th>Contact</th>
            </tr>
            <tr *ngFor="let beneficiary of beneficiaries">
              <td>{{beneficiary.beneficiary_name}}</td>
              <td> {{beneficiary.donation_received}}</td>
              <td>{{beneficiary.location}}</td>
              <td>{{beneficiary.country}}</td>
              <td>{{beneficiary.contact}}</td>
            </tr>
  
          </table>
        </div>
        <div class="col-md-2"></div>
        
        
      </div>

    </mat-tab>
    <mat-tab label="Donations" style="font-family: 'Merienda', cursive;">
      <div class="col-md-12">       
    
        <!-- Donor's table and amount raised -->
        <div class="row" style="margin-top:20px ;">      
          <div class="col-md-7" style="margin-top:15px ;">
            <h2 class="text-center">Donations</h2>
            <table>
              <tr>
                <th>Donor</th>
                <th>Amount Donated</th>
                <th>Donation Frequency</th>
              </tr>
              <tr *ngFor="let donation of donations">
                <td>{{donation.first_name}}</td>
                <td>$ {{donation.amount_raised}}</td>
                <td>{{donation.donation_frequency}}</td>
              </tr>    
            </table>
          </div>
          <div class="col-md-5" style="margin-top:15px ;">
            <h2 class="">Anonymous Donations</h2>
            <table>
              <tr>
                <th>Amount Donated</th>
                <th>Payment Method</th>
              </tr>
              <tr *ngFor="let anonym of anonymous">
                <td>$ {{anonym.donation_amount}}</td>
                <td>{{anonym.payment_method}}</td>
              </tr>    
            </table>
          </div>
          
        </div>
        <hr>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8" style="margin-top:30px ;">
            <h2 class="text-center">Amount Raised</h2>
            <p class="text-center" style="font-family: 'Secular One', sans-serif;"> <span style="color: #ED5E46; font-size: 30px;">$ {{details.current_amount}}</span><span style="font-size: 25px ;"> of {{details.target_amount}} raised</span>  </p>            
           
          </div>
          <div class="col-md-2"></div>
        </div>
        
        
        
      </div>


    </mat-tab>
    
    
  </mat-tab-group>
</div>


