<h1 class="text-center">Water Fundraiser Dashboard</h1>

<!-- Tab links -->
<!-- <div class="tab-dashboard" style="margin-top:20px ; margin-bottom: 20px; background-color: #59BBA4;">
  <button class="tablinks text-center" onclick="openSection(event, 'Home')" id="defaultOpen"><span style="font-size:20px ;">Home</span> </button>
  <button class="tablinks text-center" onclick="openSection(event, 'Beneficiaries')"><span style="font-size:20px ; ">Beneficiaries</span> </button>    
      
</div> -->
<!-- Home tab -->
<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Home" style="font-family: 'Merienda', cursive;">
      <div class="col-md-12">
        <div class="row">
          <app-charitydetails-form></app-charitydetails-form>
        </div>
        <hr>
    
        <!-- Donor's table and amount raised -->
        <div class="row" style="margin-top:30px ;">      
          <div class="col-md-9">
            <h2 class="">Donation Details</h2>
            <table>
              <tr>
                <th>Donor</th>
                <th>Amount Donated</th>
                <th>Date Donated</th>
              </tr>
              <tr>
                <td>Jane Doe</td>
                <td> Kshs. 5,000</td>
                <td>07/06/2022</td>
              </tr>
              <tr>
                <td>John Doe</td>
                <td> Kshs. 10,000</td>
                <td>07/05/2022</td>
              </tr>
              <tr>
                <td>Rachel Kiarie</td>
                <td>Kshs. 20,000</td>
                <td>07/01/2022</td>
              </tr>
    
            </table>
          </div>
          <div class="col-md-3">
            <h2>Amount Raised</h2>
            <p style="font-family: 'Secular One', sans-serif;"> <span style="color: #ED5E46; font-size: 30px;">KSH 35,000</span><span style="font-size: 25px ;"> of 200,000 raised</span>  </p>            
            <p style="font-family: 'Secular One', sans-serif; font-size: 25px;">17.5% raised</p>
    
    
          </div>
        </div>
        
        
        
      </div>


    </mat-tab>
    <mat-tab label="Beneficiaries">

      <div class="row">
        <app-beneficiary-form></app-beneficiary-form>
      </div>
    </mat-tab>
  </mat-tab-group>
<div id="Home" class="tabcontent">
  <div class="col-md-12">
    <div class="row">
      <app-charitydetails-form></app-charitydetails-form>
    </div>
    <hr>

    <!-- Donor's table and amount raised -->
    <div class="row" style="margin-top:30px ;">      
      <div class="col-md-9">
        <h2 class="">Donation Details</h2>
        <table>
          <tr>
            <th>Donor</th>
            <th>Amount Donated</th>
            <th>Date Donated</th>
          </tr>
          <tr>
            <td>Jane Doe</td>
            <td> Kshs. 5,000</td>
            <td>07/06/2022</td>
          </tr>
          <tr>
            <td>John Doe</td>
            <td> Kshs. 10,000</td>
            <td>07/05/2022</td>
          </tr>
          <tr>
            <td>Rachel Kiarie</td>
            <td>Kshs. 20,000</td>
            <td>07/01/2022</td>
          </tr>

        </table>
      </div>
      <div class="col-md-3">
        <h2>Amount Raised</h2>
        <p style="font-family: 'Secular One', sans-serif;"> <span style="color: #ED5E46; font-size: 30px;">KSH 35,000</span><span style="font-size: 25px ;"> of 200,000 raised</span>  </p>            
        <p style="font-family: 'Secular One', sans-serif; font-size: 25px;">17.5% raised</p>


      </div>
    </div>
    
    
    
  </div>
  

</div>

    <!-- Beneficiaries -->
    <div class="tabcontent" id="Beneficiaries">
      <div class="row">
        <app-beneficiary-form></app-beneficiary-form>
      </div>

    </div>
    
</div>

