<h1 class="text-center">Water Fundraiser Dashboard</h1>
<!-- Home tab -->
<div class="container" style="background-color: #eff6ee ;">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Home">

      <div class="row">
        <app-beneficiary-form></app-beneficiary-form>
      </div>
    </mat-tab>
    <mat-tab label="Beneficiaries">
      <div class="row" style="margin-top:20px ;">      
        <div class="col-md-7" style="margin-top:15px ;">
          <h2 class="text-center">Donations</h2>
          <table>
            <tr>
              <th>Beneficiary</th>
              <th>Amount Donated</th>
              <th>Location</th>
              <th>Country</th>
            </tr>
            <tr>
              <td>Jane Doe</td>
              <td> Kshs. 5,000</td>
              <td>Nairobi</td>
              <td>Kenya</td>
            </tr>
            <tr>
              <td>John Doe</td>
              <td> Kshs. 10,000</td>
              <td>Turkana</td>
              <td>Kenya</td>
            </tr>
            <tr>
              <td>Rachel Kiarie</td>
              <td>Kshs. 20,000</td>
              <td>Lamu</td>
              <td>Kenya</td>
            </tr>
  
          </table>
        </div>
        
        
      </div>

    </mat-tab>
    <mat-tab label="Donations" style="font-family: 'Merienda', cursive;">
      <div class="col-md-12">       
    
        <!-- Donor's table and amount raised -->
        <div class="row" style="margin-top:20px ;">      
          <div class="col-md-7" style="margin-top:15px ;">
            <h2 class="text-center">Donations</h2>
            <table>
              <tr>
                <th>Donor</th>
                <th>Amount Donated</th>
                <th>Date Donated</th>
              </tr>
              <tr>
                <td>Jane Doe</td>
                <td> Kshs. 5,000</td>
                <td>07/06/2022</td>
              </tr>
              <tr>
                <td>John Doe</td>
                <td> Kshs. 10,000</td>
                <td>07/05/2022</td>
              </tr>
              <tr>
                <td>Rachel Kiarie</td>
                <td>Kshs. 20,000</td>
                <td>07/01/2022</td>
              </tr>
    
            </table>
          </div>
          <div class="col-md-5" style="margin-top:15px ;">
            <h2 class="">Anonymous Donations</h2>
            <table>
              <tr>
                <th>Amount Donated</th>
                <th>Date Donated</th>
              </tr>
              <tr>
                <td> Kshs. 5,000</td>
                <td>07/06/2022</td>
              </tr>
              <tr>
                <td> Kshs. 10,000</td>
                <td>07/05/2022</td>
              </tr>
              <tr>
                <td>Kshs. 20,000</td>
                <td>07/01/2022</td>
              </tr>
    
            </table>
          </div>
          
        </div>
        <hr>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8" style="margin-top:30px ;">
            <h2 class="text-center">Amount Raised</h2>
            <p style="font-family: 'Secular One', sans-serif;"> <span style="color: #ED5E46; font-size: 30px;">KSH 35,000</span><span style="font-size: 25px ;"> of 200,000 raised</span>  </p>            
           
          </div>
          <div class="col-md-2"></div>
        </div>
        
        
        
      </div>


    </mat-tab>
    
    
  </mat-tab-group>



