<div class="wrapper">
    <h1>Testimonials</h1>
    <h5>Check what they say about us...</h5>
    <div class="cards">
        <div class="card">
            <img src="../../../assets/imagez/pexels-andrea-piacquadio-818819.jpg" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Aspernatur </p>
            <h2>Andrea Johns</h2>
            <h4>Volunteer</h4>
        </div>

        <div class="card">
            <img src="../../../assets/imagez/pexels-nappy-936133.jpg" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Aspernatur  </p>
            <h2>JOE Woods</h2>
            <h4>Volunteer</h4>
        </div>

        <div class="card">
            <img src="../../../assets/imagez/pexels-spencer-selover-428333.jpg" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Aspernatur </p>
            <h2>John Wiliams</h2>
            <h4>Volunteer</h4>
        </div>
    </div>
</div>