<section>
  <div class="container">
    <div class="left"></div>
    <div class="right">
      <div class="content">
        <h1>About Us</h1>
        <h2>We've Funded <span>44K</span></h2>
        <h3>Dollar Over</h3>
        <p>Your$40.00 monthly donation can give<br>12 people clean water every year.<br>100% funds water project.We have<br>plenty of water to drink even
        We<br> provide school going children <br>with stationaries,build classes<br> to accommodate more learners <br>and school meals</p>
      </div>
    </div>
  </div>
</section>
