<div class="container-fluid py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
               
                <div class="d-flex flex-column align-items-center justify-content-center bg-about rounded h-100 py-5 px-3">
                    <img src="../../../assets/imagez/about_girl.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <a href="#" class="text-secondary font-weight-semi-bold text-uppercase mb-3"> About Us</a>
                <h1 class="mb-4 section-title">We Provide The Best Charity Services</h1>
                <h5 class="text-muted font-weight-normal mb-3">Eos kasd eos dolor vero vero, lorem stet diam rebum. Ipsum amet sed vero dolor sea lorem justo est dolor eos</h5>
                <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est dolor</p>
                <div class="d-flex align-items-center pt-4">
                    <a href="" class="btn btn-primary mr-5">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->