<section>
  <a routerLink="donor-dashboard"></a>
  <div class="container">
    <h1 class="text-center">Donor</h1>
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 10rem;">
          <img src="../../../assets/imagez/pexels-anthony-chinweuba-2330118.jpg" class="card-img-top-sm image-size" alt="...">
        </div>
      </div>
      <div class="col-8">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Amount</th>
                <th scope="col">Charity</th>
                <th scope="col">Frequency</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>500</td>
                <td>Otto</td>
                <td>Monthly</td>
                <td>22/09/2009</td>
                <td>Pending</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  
</section>
