h1 {
    text-align: center;
    color: #ed5e46;
    font-family: Merienda,cursive;
    padding-top: 2rem;
    font-size: 2.5rem;
}
.image-size{
    height: 200px;
    object-fit: cover;
    object-position: center center;
}
h2{
    font-size: 20px;
}