<section>
  <a routerLink="donor-dashboard"></a>
  <div class="container">
    <h1 class="text-center">Donor</h1>
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/imagez/pexels-anthony-chinweuba-2330118.jpg" class="card-img-top-sm" alt="...">
        </div>
      </div>
      <div class="col-8">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Amount</th>
                <th scope="col">Charity</th>
                <th scope="col">Frequency</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>500</td>
                <td>Otto</td>
                <td>Monthly</td>
                <td>22/09/2009</td>
                <td>Pending</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <form>
      <div class="row mb-3 pt-2">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Donor Full Name</label>
        <div class="col-sm-10">
          <input type="name" class="form-control" id="inputFullName">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Donor Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Donor Number</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputPhoneNumber">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputAbout" class="col-sm-2 col-form-label">About</label>
        <div class="col-sm-10">
          <div class="form-floating">
            <textarea class="form-control" placeholder="About donor" id="floatingTextarea2" style="height: 100px"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>  
</section>
