<div class="container">
    <h1>Donor Board</h1>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/imagez/pexels-anthony-chinweuba-2330118.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Donor</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Charity" aria-label="Charity name">
          </div>
      </div>
      <div class="input-group mb-3 pt-2">
        <span class="input-group-text">Ksh</span>
        <span class="input-group-text">0.00</span>
        <input type="text" class="form-control" aria-label="Shilling amount (with dot and two decimal places)">
      </div>
</div>
