<section class="footer bg-light">
   
    <div class="container-fluid justify-content-center px-0 ">
        <div class="row justify-content-around mb-0 pt-5 mx-4">
            <div class="col-xl-auto col-md-3 pt-4 my-sm-0 order-md-1 order-sm-1 ">
                <ul class="list-unstyled mt-md-3 mt-5">
                    <li>
                        <a class="navbar-brand" href="login"><img class="navbar-brand" src="./assets/image/logo2.jpeg" alt="..."
                            height="120" width="150"></a>
                    </li>
                    <p class="mt-4">FundFlow is Africa's largest Online Fundraising Platform.<br> We provide the most Secure, Transparent & Convenient<br> way to raise.<br>
                    </p>
                </ul>
                <div class="col-md-4">
                    <div class="social">
                      <a href="#">
                        <i class="fab fa-twitter p-2" style="color: black"></i>
                      </a>            
                      <a href="#">
                        <i class="fab fa-linkedin p-2" style="color: black"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-instagram p-2" style="color: black"></i>
                      </a>
                    </div>
                  </div>
            </div>
            <div class="col-xl-2 col-md-3 pt-4 order-1 ">
                <ul class="list-unstyled mt-md-3 mt-5">
                    <li>
                        <h4 class="mb-4">Get in Touch</h4>
                    </li>
                    <p><i class="fas fa-phone mb-4" style="font-size: 30px;"></i><span> 020-456789</span><br>
                        <br><i class="fas fa-envelope-open mb-4" style="font-size: 30px;"></i> info@fundflow.com<br>
                        <br><i class="fas fa-solid fa-location-dot" style="font-size: 30px;"></i> 00100-23 Nairobi, KE<br><br>
                    </p>
                </ul>
            </div>
            <div class="col-xl-2 col-md-3 pt-4 order-1">
                <h4 class="mb-4">Useful Links</h4>
                <ul>
                    <li><a routerLink="" class="text-decoration-none" style="color: black; font-size: 20px;">About</a>
                    </li>
                    <li><a href="#menu" class="text-decoration-none" style="color: black; font-size: 20px;">FAQ</a></li>
                    <li><a routerLink="contact" class="text-decoration-none" style="color: black; font-size: 20px;">Contact</a>
                    </li>
                    <li><a href="#team" class="text-decoration-none" style="color: black; font-size: 20px;">Team</a>
                    </li>
                    <li><a routerLink="donor-register" class="text-decoration-none"
                            style="color: black; font-size: 20px;">Become a Donor</a></li>


                </ul>
            </div>            
        </div>
    </div>
    <div class="footer" style="background-color: rgb(165, 165, 165) ; padding-bottom: 15px;">
        <div class="copyright">
            ©
            <strong><span> FundFlow</span></strong>. Charity Trust 2022.
            All Rights Reserved
        </div>
    </div>
</section>