<section class="footer bg-light">
    <!-- <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                   
                    <div class="col-lg-3 col-md-6 footer-contact" id="contact">
                        <h4>Get in Touch</h4>
                        <p><i class="fas fa-phone"></i> 123456789<br>123456789<br>
                            <br><i class="fas fa-envelope-open"></i>   info@fundflow.com<br>
                            <br><i class="fas fa-pin"></i> 16/A, City Hall, Nairobi, KE<br><br>
                        </p>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fa fa-chevron-right text-decora"></i><a href="#home">About</a></li>
                            <li><i class="fa fa-chevron-right"></i><a href="#menu">FAQ</a></li>
                            <li><i class="fa fa-chevron-right"></i><a href="#cart" id="footerCart">Contact</a></li>
                            <li><i class="fa fa-chevron-right"></i><a href="#reviews">Team</a></li>
                            <li><i class="fa fa-chevron-right"></i><a href="#reviews">Donation</a></li>


                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>NEWS FEED</h4>
                        <ul>
                            <li><div>
                
                                <img src="https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80" width="160" height="160" alt="">
                              </div> <a href="#pepperoni">Pepperoni</a></li><hr>
                            <li><div>
                
                                <img src="https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80" width="160" height="160" alt="">
                              </div><a href="#bbqChicken">BBQ Chicken</a></li>
                          
                        </ul>
                            
                    </div>
                    
                </div>
            </div>
        </div>
    </footer> -->
    <div class="container-fluid justify-content-center px-0 ">
        <div class="row justify-content-around mb-0 pt-5 mx-4">
            <div class="col-xl-auto col-md-3 pt-4 my-sm-0 order-md-1 order-sm-1 ">
                <ul class="list-unstyled mt-md-3 mt-5">
                    <li>
                        <a class="navbar-brand" href="login"><img class="navbar-brand" src="../assets/image/logo2.jpeg" alt="..."
                            height="120" width="150"></a>
                    </li>
                    <p class="mt-4">FundFlow is Africa's largest Online Fundraising Platform.<br> We provide the most Secure, Transparent & Convenient<br> way to raise.<br>

                        Our Fundraisers include: Medical, Funeral, Weddings,<br> Churches, Businesses, Education, Projects, <br>Sports, Construction & Disasters.
                    </p>
                </ul>
                <div class="col-md-4">
                    <div class="social text-right">
                      <a href="#">
                        <i class="fab fa-twitter p-2" style="color: black"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-facebook p-2" style="color: black"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-linkedin p-2" style="color: black"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-instagram p-2" style="color: black"></i>
                      </a>
                    </div>
                  </div>
            </div>
            <div class="col-xl-2 col-md-3 pt-4 order-1 ">
                <ul class="list-unstyled mt-md-3 mt-5">
                    <li>
                        <h4 class="mb-4">Get in Touch</h4>
                    </li>
                    <p><i class="fas fa-phone mb-4" style="font-size: 30px;"></i><span>123456789</span><br>
                        <br><i class="fas fa-envelope-open mb-4" style="font-size: 30px;"></i> info@fundflow.com<br>
                        <br><i class="fas fa-solid fa-location-dot" style="font-size: 30px;"></i> 16/A, City Hall,
                        Nairobi, KE<br><br>
                    </p>
                </ul>
            </div>
            <div class="col-xl-2 col-md-3 pt-4 order-1">
                <h4 class="mb-4">Useful Links</h4>
                <ul>
                    <li><a href="#home" class="text-decoration-none" style="color: black; font-size: 20px;">About</a>
                    </li>
                    <li><a href="#menu" class="text-decoration-none" style="color: black; font-size: 20px;">FAQ</a></li>
                    <li><a href="#cart" class="text-decoration-none" style="color: black; font-size: 20px;">Contact</a>
                    </li>
                    <li><a href="#reviews" class="text-decoration-none" style="color: black; font-size: 20px;">Team</a>
                    </li>
                    <li><a href="#reviews" class="text-decoration-none"
                            style="color: black; font-size: 20px;">Donation</a></li>


                </ul>
            </div>
            <!-- <div class="col-xl-4 col-md-3 pt-4 order-2">
                <h4 class="mb-4">NEWS FEED</h4>


                <div>

                    <img src="https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80"
                        width="160" height="160" alt=""><span><i class="fas fa-calendar mb-4"
                            style="font-size: 30px; padding-left: 10px;"></i> June 29, 2022<br>Take your
                        donations to the next level</span>
                </div>

                <hr>

                <div>

                    <img src="https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80"
                        width="160" height="160" alt=""><span><i class="fas fa-calendar mb-4"
                            style="font-size: 30px; padding-left: 10px;"></i> June 29, 2022<br>Take your
                        donations to the next level</span>
                </div>



            </div> -->
            <div class="col-xl-4 col-md-3 pt-4 order-2">
                <h4 class="mb-4">NEWS FEED</h4>


                <div class="row">
                    <div>
                        <img src="https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80"
                            width="160" height="160" alt="">
                    </div>
                    <div class="mt-4">
                        <i class="fas fa-calendar mb-4" style="font-size: 30px; padding-left: 10px;"></i> June
                        29, 2022<br>Take your
                        donations to the next level</div>
                </div>

                <hr>
                <div class="row">
                    <div>
                        <img src="https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80"
                            width="160" height="160" alt="">
                    </div>
                    <div class="mt-4">
                        <i class="fas fa-calendar mb-4" style="font-size: 30px; padding-left: 10px;"></i> June
                        29, 2022<br>Little hope goes a long way!</div>
                </div>



            </div>
            
        </div>

    </div>
    <div class="footer" style="background-color: rgb(165, 165, 165) ; padding-bottom: 15px;">
        <div class="copyright">
            ©
            <strong><span> FundFlow</span></strong>. Charity Trust 2022.
            All Rights Reserved
        </div>
    </div>
</section>