<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <router-outlet></router-outlet> -->
<!-- <app-contact></app-contact> -->
 
<!-- <app-donate></app-donate> --> 
<!-- <app-charities></app-charities> -->
<!-- <app-charity-dashboard></app-charity-dashboard> -->
<!-- <app-charitydetails-form></app-charitydetails-form> -->



<!-- home page -->
<!-- <app-home></app-home> -->
<!-- about -->

<!-- <app-about></app-about> -->
<!-- team page-->
<!-- <app-team></app-team> -->
<!-- testimonial -->
<!-- <app-testimonial></app-testimonial> -->
<!-- donor-dashboard -->
<!-- <app-donor-dashboard></app-donor-dashboard> -->




<!-- <app-login></app-login> -->

<!-- <app-donor-register></app-donor-register> -->

<!-- <app-footer></app-footer> -->

