<section>
  <div class="team-area section-padding">
    <h1 class="text-center">Team FundFlow</h1>
    <p class="para">
      To accelerate and amplify the impact of local education advocates in
      countries where girls are most likely to miss out on education
    </p>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="single-team">
            <div class="team-img">
              <img
                src="../../../assets/images/PhotoADP2.jpg"
                alt=""
                class="img-responsive"
              />
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3>Belinda Ntinyari</h3>
                <p>Back-end Developer</p>
              </div>
              <p class="team-text">
                Be part of the change, and donate to a good cause.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-team">
            <div class="team-img">
              <img
                src="../../../assets/imagez/pexels-nappy-936133.jpg"
                alt=""
                class="img-responsive"
              />
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3>Greg Thorn</h3>
                <p>Chief Advisor</p>
              </div>
              <p class="team-text">
                Be part of the change, and donate to a good cause.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-team">
            <div class="team-img">
              <img
                src="../../../assets/images/photoADP1.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3>Rachel Kiarie</h3>
                <p>Front-end Developer</p>
              </div>
              <p class="team-text">
                Be part of the change, and donate to a good cause.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 pt-2">
          <div class="single-team">
            <div class="team-img">
              <img
                src="../../../assets/imagez/pexels-rebrand-cities-1367278.jpg"
                alt=""
                class="img-responsive"
              />
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3>Claire Lilly</h3>
                <p>Team Lead</p>
              </div>
              <p class="team-text">
                Be part of the change, and donate to a good cause.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 pt-2">
          <div class="single-team">
            <div class="team-img">
              <img
                src="../../../assets/imagez/pexels-andrea-piacquadio-818819.jpg"
                alt=""
                class="img-responsive"
              />
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3>Jane Nelly</h3>
                <p>Accountant</p>
              </div>
              <p class="team-text">
                Be part of the change, and donate to a good cause.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
