

.nav-item{
    padding: 0 20px;
    
    color: black;
}
.nav-item a{
    font-size: 15px;
    font-weight: bold;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: black; 
}