

.nav-item{
    padding: 0 20px;
    
    color: black;
    padding-top: 10px !important;
}
.nav-item a{
    font-size: 17px;
    font-weight: bold;
    color: black;
    
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: black; 
}

.navbar-brand  img{
margin-left: 10px;
}
