<!-- <section id="top-bar" class="p-2" style="background-color: rgb(165, 165, 165) ;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i>   info@fundflow.com
      </div>
      <div class="col-md-4"><i class="fas fa-phone"></i> 123456789</div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="#">
            <i class="fab fa-twitter p-2" style="color: black"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook p-2" style="color: black"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin p-2" style="color: black"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram p-2" style="color: black"></i>
          </a>
        </div>
      </div>
    </div>
  </div>


</section> -->
<!-- rgb(165, 165, 165) -->

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="background-color: rgba(165, 165, 165, 0) ;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><img class="navbar-brand" src="../assets/image/logo2.jpeg" alt="..."
        height="120" width="150"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">HOME</a>
        </li>

        <li class="nav-item">

          <a class="nav-link active" href="#about">ABOUT

          </a>
        </li>
        <li class="nav-item">

          <a class="nav-link active" routerLink="charities">CHARITIES

          </a>
        </li>
        <!-- <li class="nav-item">

          <a class="nav-link active" routerLink="team">TEAM

          </a>
        </li> -->
         <li class="nav-item">

          <a class="nav-link active" href="#testimonial">TESTIMONIALS

          </a>
        </li> 
        <li class="nav-item">

          <a class="nav-link active" routerLink="contact">CONTACT US

          </a>
        </li>
        <li class="nav-item">

          <a class="nav-link active" routerLink="charity-dashboard">CHARITY DASHBOARD

          </a>
        </li>
        <li class="nav-item">

          <a class="nav-link active">DASHBOARD

          </a>
        </li>
        <li class="nav-item">

          <!-- <div class="dropdown">
            <a
              class="btn btn-light dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              PAGES
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="/profile/">Profile</a></li>
              <li><a class="dropdown-item" href="/update/">Update Profile</a></li>
            </ul>
          </div> -->
        </li>
        <a class="pt-1 mb-4" href="login">
          <button type="submit" class="btn btn-lg btn-block" style="background-color:#efc94c" type="button">Login</button>

      </a>
      </ul>
    </div>
  </div>
</nav>