<div class="banner">
  <h3></h3>
  <h1 class="donate-heading">Girl Child KE</h1>
</div>
<div class="container"> 
  <div class="charities-section">
    <div class="row">
      <div class="col-md-8">
        <div class="card" style="margin-bottom: 30px; border-radius: 3px;">
          <img src="/assets/images/childrenrunning.jpg" class="card-img-top" style="border-radius: 3px 3px 0px 0px;" alt="Charity Image">
          <div class="card-body">
            <h5 class="card-title"> Girl Child KE</h5>   

          </div>

        </div>

      </div>
      <div class="col-md-4">
        <div class="card" style="margin-bottom: 30px; border-radius: 3px;">          
          <div class="card-body">
            <h5 class="card-title">Our Purpose</h5>
            <p>We're here to help charities change the world, so our global fundraising service is free. We cover our costs by taking a 5% donation fee which donors can cover</p>
          </div>

        </div>

      </div>
      
      
      
    </div>

    
  </div>



</div>